.container {
    max-width: 120rem;
    margin: 1rem auto;
    background-color: $color-primary;
    box-shadow: 0 2rem 6rem rgba($color: #000, $alpha: 0.3);
    height: 100vh;
    width: 90%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    background-color: rgba($color: #000, $alpha: 0.3);

    &__link:link, &__link:visited {
        display: inline-block;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 1rem;
    }

    &__link:active {
        color: grayscale($color: white);
    }

    &__link:hover {
        background-color: rgba($color: $color-primary, $alpha: .7);
    }

    &__link + .active {
        background-color: rgba($color: $color-primary, $alpha: .4);
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 1rem;
    margin-top: -1rem;
    background-color: rgba($color: #000, $alpha: 0.3);
}
